<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark  bg-dark text-white ">
  <a class="navbar-brand ml-2"><strong><img src="assets/logo.png" height="40px" width="40px "><span
        class="ml-0">DoConnect</span></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse h-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active ml-0">
        <button class="btn btn-outline-info text-white ml-1 my-2 my-sm-0" type="submit">User Dashboard
        </button>
      </li>
    </ul>
    <form class="form-inline my-7 my-lg-0" #userform='ngForm'>
      <h2 class="text-white my-2 my-sm-0" *ngIf='adminService.isLoggedIn()'>
        <span class="mr-2">{{adminService.username}}</span><span class="mr-4"><i class="fa fa-user"></i></span>
      </h2>

      <button class="btn btn-outline-danger text-white my-2 my-sm-0" (click)="logout()" type="submit">Log Out
      </button>
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-lg" style="background-color: white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse h-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ml-0">
        <button class="btn btn-info text-white ml-1 my-2 my-sm-0" type="submit" routerLink="/userDashboard">User Dashboard
        </button>
      </li>
      <li class="nav-item active ml-0">
        <button class="btn btn-info text-white ml-1 my-2 my-sm-0" type="submit" routerLink="/mypost">My Question
        </button>
      </li>

      <li class="nav-item active ml-0">
        <button class="btn btn-info text-white ml-1 my-2 my-sm-0" type="submit" routerLink="/userPendingAnswer">My
          Answer
        </button>
      </li>
    </ul>
    <span class="btn p-0  " routerLink="/question" data-toggle="tooltip" data-placement="top" title="Post Question">
      <i class="fa fa-paper-plane pr-2 mt-0 text-info" style="font-size: 30px;"></i>
    </span>
    <span class="btn p-0" routerLink="/readMessage" data-toggle="tooltip" data-placement="top" title="{{arrMsg.length}} message">
      <i class="fa fa-bell pr-2 mt-0 text-info" style="font-size: 30px;"></i>
    </span>
    <form class="form-inline my-7 my-lg-0" #userform='ngForm'>
      <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="searchText" placeholder="Search "
        aria-label="Search">
    </form>
  </div>
</nav>

<div class="container" *ngIf='queBeanList.length > 0'
  style="background:linear-gradient(90deg,hsl(0,100%,50%,0.1) 0%,hsla(260,29%,36%,0.2)100%)">
  <div *ngFor='let question of queBeanList |filter : searchText'>
    <div class="card mt-4" *ngIf='question.approval === 1'
      style="box-shadow: 3px 3px 3px 3px lightblue;font-size: 20px;">
      <div class="card-header bg-info text-white"
        style="background: linear-gradient(90deg,hsl(0,100%,50%,0.1) 0%,hsla(260,29%,36%,0.2)100%);">
        <span><strong> Topic : {{question.topic}}</strong></span><span class="float-right"><span class="mr-3" style="font-size: 24px;"><strong>User ID: {{question.user_id}}</strong></span><i class="fa fa-comments"  data-toggle="tooltip" data-placement="top" title="Write message" (click)="sendMessage(question.que_id)" style="font-size: 34px;"></i></span>
      </div>
      <div class="card-body " style="height: 300px; overflow-y:auto;background-color: white">
        <div class="row">
          <div class="col-sm-12 col-lg-9 col-md-9">
            <h3 class="card-title  mr-2 " style="font-size: 30px;color: coral;"> <span> <i
                  class="fa fa-question-circle mr-2 p-1" style="font-size: 30px;color: coral;"></i></span> Question</h3>
            <span>
              <p class="card-text mb-2" style="color:#131029;font-size: 20px;border-bottom: 2px solid red;"
                [innerHtml]="question.description"></p>
            </span>
          </div>
          <div class="col-sm-12 col-lg-3 col-md-3" *ngIf='question.img_url'>
            <div class="float-right"  style="width:200px; height: 200px;">
              <img src="{{question.img_url}}" alt="" width="200px" height="150px" *ngIf='question.img_url'>
            </div>
          </div>
        </div>
        <div *ngIf='question.answers.length > 0'>
          <h5 class="card-title text-success">Answer</h5>
          <ul *ngFor='let answer of question.answers'>
            <li class="card-text ml-3" *ngIf='answer.approval === 1' [innerHtml]='answer.description'></li>
          </ul>
        </div>
        <span class="float-right mt-2 mr-5 mb-0">
          <button class="btn btn-info mr-3" (click)="giveResponse(question.que_id)">Response</button>
        </span>
      </div>
    </div>
  </div>
</div>